{{#each errors}}
<div class="alert alert-danger mt-2">{{text}}</div>
{{else}}

{{/each}}

<div class="card container mt-3 col-6 bg-light purple-border">
    <div class="card-body mt-2">
        <h2 class="fw-bold container text-center here">Add category</h2>
        <div class="container col-8">
            <form action="/admin/categories/new" method="POST" class="form-width">
                <div class="row-cols-1">
                    <label for="title" class="here fw-bold">Title:</label>
                    <input type="text" class="form-control border-input-text" placeholder="Enter the category title" name="title" id="title"><br>
                    <label for="slug" class="here fw-bold">Slug:</label>
                    <input type="text" class="form-control border-input-text" placeholder="Enter the category slug" name="slug" id="slug"><br>
                </div><br>
                <button class="btn-primary container text-center mb-3">Add</button>
                
        </div>
        </form>
    </div>
</div>