{{#each errors}}
<div class="alert alert-danger mt-2">{{text}}</div>
{{else}}

{{/each}}

<div class="container">
    <div class="container-content-2">
        <h1 class="title text-center">Add category</h1>
        <div class="mt-4">
            <form action="/admin/categories/new" method="POST" class="">
                <div class="">
                    <label for="title" class="here fw-bold">Title:</label>
                    <input type="text" class="input-control" placeholder="Enter the category title" name="title" id="title"><br>
                    <label for="slug" class="here fw-bold">Slug:</label>
                    <input type="text" class="input-control" placeholder="Enter the category slug" name="slug" id="slug"><br>
                </div><br>
                <button class="btn-init text-center mb-3">Add</button>
                
        </div>
        </form>
    </div>
</div>