<div class="card mt-4 container">
  <div class="card-body">
    <h1>Welcome to the NodeNotes!</h1>
    <hr>
    <p>My project is a blog developed using Node.js, a robust and efficient platform for web applications. The blog allows users to explore a variety of article categories and interact through comments, providing a dynamic and interactive experience for readers.</p>
    <a href=""><button class="btn btn-dark">See more</button></a>
  </div>
</div>