<div class="card container mt-3 col-8 purple-border">
    <div class="card-body mt-2 col">
        <h2>Welcome back!</h2>
        <hr>
        <form action="" method="POST">
            <div class="row-cols-2">
                <label for="email">Email:</label>
                    <input type="email" class="form-control-sm" placeholder="Enter your email" name="email"><br>
                <label for="password" class="mt-2">Password:</label>
                    <input type="password" class="form-control-sm" placeholder="Enter your password" name="password"><br>
            </div>
            <hr class="mt-3">
            <button class="btn-primary">Login</button>

        </form>
    </div>
</div>