<div class="card container bg-light mt-3 col-6 purple-border">
    <div class="card-body mt-2">
        <h2 class="fw-bold container text-center here">Welcome back</h2><br>
        <div class="container col-8">
            <form action="" method="POST" class="form-width">
                <div class="row-cols-1">
                    <label for="email" class="here fw-bold">Email:</label>
                    <input type="email" class="form-control border-input-text" placeholder="Enter your email" name="email"><br>
                    <label for="password" class="here fw-bold">Password:</label>
                    <input type="password" class="form-control border-input-text" placeholder="Enter your password"
                        name="password"><br>
                </div><br>
                <button class="btn-primary container text-center mb-3">Login</button>

            </form>
        </div>
    </div>
</div>