{{#each errors}}
<div class="alert alert-danger mt-2">{{text}}</div>

{{else}}

{{/each}}

<div class="card container mt-3 col-6 purple-border">
    <div class="card-body mt-2">
        <h2 class="fw-bold container text-center here">Let's Start</h2><br>
        <div class="container col-8">
            <form action="" method="POST" class="form-width">
                <div class="mb-2">
                    <label for="username" class="here fw-bold">Username:</label>
                    <input type="text" class="form-control border-input-text mb-2" placeholder="Enter your username" name="username">
                    <label for="email" class="here fw-bold">Email:</label>
                    <input type="email" class="form-control border-input-text mb-2" placeholder="Enter your email"
                        name="email">
                    <label for="password" class="here fw-bold">Password:</label>
                    <input type="password" class="form-control border-input-text mb-2" placeholder="Enter your password"
                        name="password">
                    <label for="passwordConfirmation" class="here fw-bold">Confirm password:</label>
                    <input type="password" class="form-control border-input-text"
                        placeholder="Enter your password again" name="passwordConfirmation"><br>
                </div>
                <button class="btn-primary container text-center">Create account</button><br>
                <small class="fw-bold">Obs: After creating an account, you need to log in.</small>

            </form>
        </div>
    </div>
</div>