<div class="card container mt-3 col-8 purple-border">
    <div class="card-body mt-2">
        <h1>{{posts.title}}</h1>
        <hr>
        <strong><small>Post date: </strong>{{posts.date}}</small>
        <hr>
        <div class="text-justify text-indent">
            {{posts.content}}
        </div>
    </div>
</div>