<div class="card container mt-3 col-8 purple-border">
    <div class="card-body mt-2">
        <h1 class="container text-center here">{{posts.title}}</h1>
        <hr>
        <div class="text-justify text-indent">
            {{posts.content}} <hr>
            <strong class="here"><small>Post date: </strong>{{posts.date}}</small>
        </div>
    </div>
</div>